mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		+section-title-main(`Контакты`, `Мы всегда рады ответить на все Ваши вопросы.`).bg-lightblue
		+e.content
			.tabs.tabs--js
				.container
					.tabs__caption.d-none.d-lg-flex
						.tabs__btn.active
							span Отдел продаж
						.tabs__btn
							span Завод
						.tabs__btn
							span Склад
						.tabs__btn
							span Бухгалтерия
						.tabs__btn
							span Центральный офис
				.tabs__wrap
					.tabs__content.active
						.container
							+e.text-wrap
								p Московская область, Солнечногорский район, 47-ой километр Пятницкого шоссе, д. Новая, Завод НПО ПМП Вентиляция.
								p Начальник отдела продаж: Ионов Евгений Владимирович Телефон/факс: +7 (499) 755-57-51 доб.222, моб. +7 967 112-44-67
								p Время работы: пн-чт 8:00–17:00, пт 8:00 – 15:00, сб и вс - выходные.

								+b.top-btn.btn(href="#") Заказать звонок

						+e.map-wrap
							<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adfde226ae904fbb1c5ea492121d73e55033f87fbf406f4ef9d7d1185980a88f0&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>

					.tabs__content
						.container
							+e.text-wrap
								p Московская область, Солнечногорский район, 47-ой километр Пятницкого шоссе, д. Новая, Завод НПО ПМП Вентиляция.
								p Начальник отдела продаж: Ионов Евгений Владимирович Телефон/факс: +7 (499) 755-57-51 доб.222, моб. +7 967 112-44-67
								p Время работы: пн-чт 8:00–17:00, пт 8:00 – 15:00, сб и вс - выходные.

								+b.top-btn.btn(href="#") Заказать звонок

						+e.map-wrap
							<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adfde226ae904fbb1c5ea492121d73e55033f87fbf406f4ef9d7d1185980a88f0&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>

					.tabs__content
						.container
							+e.text-wrap
								p Московская область, Солнечногорский район, 47-ой километр Пятницкого шоссе, д. Новая, Завод НПО ПМП Вентиляция.
								p Начальник отдела продаж: Ионов Евгений Владимирович Телефон/факс: +7 (499) 755-57-51 доб.222, моб. +7 967 112-44-67
								p Время работы: пн-чт 8:00–17:00, пт 8:00 – 15:00, сб и вс - выходные.

								+b.top-btn.btn(href="#") Заказать звонок

						+e.map-wrap
							<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adfde226ae904fbb1c5ea492121d73e55033f87fbf406f4ef9d7d1185980a88f0&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>

					.tabs__content
						.container
							+e.text-wrap
								p Московская область, Солнечногорский район, 47-ой километр Пятницкого шоссе, д. Новая, Завод НПО ПМП Вентиляция.
								p Начальник отдела продаж: Ионов Евгений Владимирович Телефон/факс: +7 (499) 755-57-51 доб.222, моб. +7 967 112-44-67
								p Время работы: пн-чт 8:00–17:00, пт 8:00 – 15:00, сб и вс - выходные.

								+b.top-btn.btn(href="#") Заказать звонок

						+e.map-wrap
							<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adfde226ae904fbb1c5ea492121d73e55033f87fbf406f4ef9d7d1185980a88f0&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>

					.tabs__content
						.container
							+e.text-wrap
								p Московская область, Солнечногорский район, 47-ой километр Пятницкого шоссе, д. Новая, Завод НПО ПМП Вентиляция.
								p Начальник отдела продаж: Ионов Евгений Владимирович Телефон/факс: +7 (499) 755-57-51 доб.222, моб. +7 967 112-44-67
								p Время работы: пн-чт 8:00–17:00, пт 8:00 – 15:00, сб и вс - выходные.

								+b.top-btn.btn(href="#") Заказать звонок

						+e.map-wrap
							<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adfde226ae904fbb1c5ea492121d73e55033f87fbf406f4ef9d7d1185980a88f0&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>

					
	// end sContact

	