mixin sManufacture(data)
	// start sManufacture
	+b.SECTION.sManufacture.section#sManufacture&attributes(attributes)
		+section-title-main(`Производство`, `Собственные инженерно-конструкторские разработки + Современные технологические процессы в производстве = Лучшая продукция на российском рынке`)
		+e.slider.bg-lightblue
			.container
				+b.slider-index.swiper-container
					.swiper-wrapper
						mixin slide(h, i, icon, ...items)
							+e.slide.swiper-slide
								+e.icon
									img(src=`img/@2x/sManufacture-icon-${icon}.png`, alt="")
								+e.title!= h
								+e.img-wrap
									img(src=`img/@2x/sManufacture-${i}.jpg`, alt="")
								+e.text
									each item in items
										p!= item
						+slide(`Проектный отдел`, `1`, `1`, `НПО ПМП Вентиляция имеет собственный проектный отдел.`, `В&nbsp;обязанности отдела входит разработка проектной документации для строительства...`)
						+slide(`Конструкторский отдел`, `1`, `2`, `Главная задача Конструкторского отдела&nbsp;&mdash; конструирование отдельных элементов промышленных систем.`)
						+slide(`Станочный парк`, `1`, `3`, `НПО ПМП Вентиляция постоянно заботится об&nbsp;обновлении и&nbsp;пополнении станочного парка завода.<br> Современное оборудование позволяет выпускать до&nbsp;100 тонн высокотехнологич...`)
						+slide(`Проектный отдел`, `1`, `4`, `НПО ПМП Вентиляция имеет собственный проектный отдел.`, `В&nbsp;обязанности отдела входит разработка проектной документации для строительства...`)
						+slide(`Конструкторский отдел`, `1`, `5`, `Главная задача Конструкторского отдела&nbsp;&mdash; конструирование отдельных элементов промышленных систем.`)
						+slide(`Станочный парк`, `1`, `6`, `НПО ПМП Вентиляция постоянно заботится об&nbsp;обновлении и&nbsp;пополнении станочного парка завода.<br> Современное оборудование позволяет выпускать до&nbsp;100 тонн высокотехнологич...`)
				.swiper-button-prev.index
				.swiper-button-next.index
	// end sManufacture