mixin child(t)
	li: a(href="#")= t
mixin li(t)
	li.has-child&attributes(attributes)
		a(href="#")= t
		//- block
		span.left_menu_arraw 
		ul.sub-menu
			li.has-child&attributes(attributes)
				a(href="#")= t
				//- block
				span.left_menu_arraw 
				ul
					+child("Из углеродистой стали")
					+child("Из углеродистой стали")
			+child("Из углеродистой стали")
			+child("Из нержавеющей стали")
			+child("Из титана") 
			+child("С тефлоновым покрытием")

mixin sidebar(data)
	// start sidebar
	+b.ASIDE.sidebar&attributes(attributes)
		+e.toggle-menu.d-lg-none.btn.btn-outline-primary.w-100.mb-1  Каталог
		ul.menu.d-lg-block
			+li("Сварные воздуховоды и трубопроводы").active
			li
				a(href="#") Элементы 
			li
				a(href="#") Аспирационные воздуховоды с ревизией 
			+li("Аспирационные ") 
			+li("Устройства управления воздушными (газовыми) потоками") 
			+li("Устройства управления потоками сыпучих материалов") 
			+li("Сборные воздуховоды панельного типа ") 
			+li("Циклоны для линий порошковой окраски") 
			+li("Ванны и туннели для химической обработки поверхностей") 
			+li("Технологические столы") 
			+li("Технологические платформы и рамы") 
			+li("Оборудование для чистых зон и опасных помещений") 
			+li("Укрытия, обитаемые камеры, модули специального назначения") 
			+li("Системы очистки воздуха картриджного типа") 
			+li("Емкости из нержавеющей стали и титана") 
			+li("Гибкие вставки и термокомпенсаторы") 
			+li("Поворотные устройства для воздуховодов большого диаметра")
	// end sidebar