mixin sProdCard(data)
	// start sProdCard
	+b.sProdCard.section#sProdCard&attributes(attributes)
		+e.main-row.row.gy-4
			+e.slider-col.col-xl-auto
				//- .fotorama( data-allowfullscreen="true")
				//- 	- for (var x = 0; x < 8; x++)
				//- 		img(src='img/@2x/prod-1.jpg')
				//- 		img(src='img/@2x/prod-2.jpg')
				.fotorama(data-nav='thumbs' data-arrows="true" data-allowfullscreen="true" data-thumbwidth="150" data-thumbheight="110")
					- for (var x = 0; x < 8; x++)
						a(href='img/@2x/prod-1.jpg')
							img(src=`img/@2x/prod-thumb-1.jpg` )
						a(href='img/@2x/prod-2.jpg')
							img(src=`img/@2x/prod-thumb-2.jpg` )
				+sProdCardSliders()
			+e.content-col.col-xl
				+e.txt
					p Здесь располагается короткое описание продукта. Здесь располагается короткое описание продукта. Здесь располагается короткое описание продукта. Здесь располагается короткое описание продукта. Здесь располагается короткое описание продукта. Здесь располагается короткое описание продукта.
					p Здесь располагается короткое описание продукта. Здесь располагается короткое описание продукта.Здесь располагается короткое описание продукта. Здесь располагается короткое описание продукта. Здесь располагается короткое описание продукта. Здесь располагается короткое описание продукта.
				+e.btns-cont
					+e.price-btn(href="#") Узнать стоимость
					+e.consult-btn(href='#')
						+e.icon
							img(loading="lazy" src="img/@2x/technical-support.png" alt="")
						span Консультация специалиста
		+b.tabs--js
			+e.caption.d-none.d-lg-flex
				+e.btn.active Описание
				+e.btn Характеристики
				+e.btn Сферы применения
				+e.btn Комплектация
			+e.wrap
				+e.content.active
					+e.descr
						p Если стандартная длина L или диаметр D не удовлетворяют техническим требованиям проекта, Заказчик может указать произвольные размеры изделия. Максимальная длина прямых участков не ограничена, но следует помнить, что есть ограничения по транспортировке габаритных грузов. Кроме этого, воздуховоды крупных размеров сильно усложняют процесс монтажа.
						p В зависимости от размеров изделия, толщина стенок может быть разной. В таблице ниже представлены рекомендуемые толщины стенок в зависимости от диаметра D.
				+e.content
					+e.sub-row.row.align-items-center.gy-3
						+e.slider-col.col-xl-auto
							+sProdCardSliders()
						+e.txt-col.col-xl
							+e.red Рисунок 1. Прямой участок сварного воздуховода
							+e.data
								strong
									| L
									|
								span - Монтажная длина.
								br
								strong
									| D
									|
								span - Диаметр.
				+e.content
					+e.sub-row.row.align-items-center.gy-3
						+e.slider-col.col-xl-auto
							+e.table
								+e.t-row--head.row
									+e.key-col--head.col-auto D, мм
									+e.val-col--head.col-auto Толщина стенок, мм
								+tableRow('50 ÷ 400', '1')
								+tableRow('50 ÷ 630', '1,2')
								+tableRow('50 ÷ 1000', '1,5')
								+tableRow('200 ÷ 2000', '2')
								+tableRow('500 ÷ 2000', '3')
								+tableRow('1000 ÷ 3000', '5')
						+e.txt-col.col-xl
							+e.red Таблица 1. Рекомендуемые толщины стенок в зависимости от диаметра D.
				+e.content
					+e.sub-row.row.align-items-center.gy-3
						+e.slider-col.col-xl-auto
							+sProdCardSliders(true)
						+e.txt-col.col-xl
							+e.red Таблица 1. Рекомендуемые толщины стенок в зависимости от диаметра D.
	// end sProdCard

mixin tableRow(keyTxt, valTxt)
	+e.t-row.row
		+e.key-col.col-auto=keyTxt
		+e.val-col.col.text-end=valTxt


mixin sProdCardSliders(video)
	
	+b.sPCsliders--js
		+e.slider-wrap
			.swiper-container.sProdCard-slider-js
				.swiper-wrapper
					+prodCardSlide(1, video)
					+prodCardSlide(2, video)
					+prodCardSlide(2, video)
					+prodCardSlide(2, video)
					+prodCardSlide(2, video)
		+e.thumb-wrap
			.swiper-prev
				img(loading="lazy" src="img/svg/chevron-left2.svg" alt="")
			.swiper-container.sProdCard-thumb-js
				.swiper-wrapper
					+prodCardThumb(1, video)(class="big")
					+prodCardThumb(2, video)(class="")
					+prodCardThumb(2, video)(class="")
					+prodCardThumb(2, video)(class="")
					+prodCardThumb(2, video)(class="")
			.swiper-next
				img(loading="lazy" src="img/svg/chevron-right2.svg" alt="")

mixin prodCardThumb(imgNum, video)
	if video
		.swiper-slide&attributes(attributes)
			+pic(`prod-thumb-${imgNum}.jpg`).sPCsliders__th-item.sPCsliders__th-item--video
	else
		.swiper-slide&attributes(attributes)
			+pic(`prod-thumb-${imgNum}.jpg`).sPCsliders__th-item

mixin prodCardSlide(imgNum, video)
	if video
		.swiper-slide
			+e.slide-img--video(href="https://www.youtube.com/watch?v=HN-PCMFvoes&list=PLBSdPE852lAQg1SbOcDOoUfOVrWWDZWqU&index=325" data-fancybox="video")
				+pic(`prod-thumb-${imgNum}.jpg`).sPCsliders__img-inner
	else
		.swiper-slide
			+e.slide-img
				+pic(`prod-thumb-${imgNum}.jpg`).sPCsliders__img-inner