mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.slider--js.swiper-container
				.swiper-wrapper
					.swiper-slide 
						.img-wrap
							img.res-i(src="img/@2x/header-block.jpg", alt="")
					.swiper-slide 
						.img-wrap
							img.res-i(src="img/@2x/header-block.jpg", alt="")
					.swiper-slide 
						.img-wrap
							img.res-i(src="img/@2x/header-block.jpg", alt="")
				.swiper-pagination
	// end headerBlock