extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/sProduction/_sProduction.pug
include ../blocks/sUsing/_sUsing.pug
include ../blocks/sManufacture/_sManufacture.pug
include ../blocks/sClients/_sClients.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sQuestions/_sQuestions.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sidebar/_sidebar.pug
include ../blocks/sProdCard/_sProdCard.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Сварные воздуховоды и трубопроводы'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+topLine()
	+top-nav()
	+b.page-head
		+e.container.container
			+breadcrumb('Главная', 'Продукция', title)
			+e.row.row.gy-5
				+e.sidebar-col.col-lg-4.col-xl-3
					+sidebar
				+e.content-col.col-lg-8.col-xl-9
					+e.title
						h1= title
					+sCatalog()
	//+sProduction()
	//+sUsing()
	//+sManufacture()
	//+sClients()
	//+sContact()
	//+sQuestions().bg-lightblue
	//
	//- +headerBlock()
	//- +sForm()
	//- +sContact()
	+footer()



