mixin catalogItem(i,text)
	.col-lg-4.col-md-6 
		+b.catalogCard(href="#")&attributes(attributes)
			+e.imgWrap 
				+pic(i,'','')
			+e.textWrap 
				+e.text!= text
				+e.iconWrap
					+icon('chevron-right')

mixin sCatalog(data)
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		p НПО ПМП Вентиляция выпускает специальные сварные металлические воздуховоды, устройства управления потоками, узлы контроля и&nbsp;очистки рассчитанные на&nbsp;использование в&nbsp;различных технологических процессах, гибкие вставки высокотемпературные и&nbsp;абразивостойкие, тканевые термокомпенсаторы. Дополнительно к&nbsp;сварным воздуховодам НПО ПМП Вентиляция выпускает сборные воздуховоды панельного типа.
		+e.row.row
			+catalogItem('catalog-1.jpg','Из углеродистой стали')
			+catalogItem('catalog-2.jpg','Из нержавеющей стали')
			+catalogItem('catalog-3.jpg','Из титана')
			+catalogItem('catalog-4.jpg','Для систем аспирации')
			+catalogItem('catalog-5.jpg','С тефлоновым покрытием')
			+catalogItem('catalog-6.jpg','Еще какой-то тип воздуховодов')
		+pugin
		h3 Конструктивные особенности
		ul
			li модульная технология сборки, системы создаются по&nbsp;принципу конструктора;
			li герметичные, надежные и&nbsp;быстро сборные/разборные соединения;
			li удержание конденсата при образовании;
			li для систем с&nbsp;пониженным/повышенным давлением, до&nbsp;10&nbsp;000&nbsp;Па;
			li легкая взаимозаменяемость узлов и&nbsp;быстрое дооснащение;
			li широкий спектр выпускаемых изделий;
			li возможность изготовления эксклюзивных элементов.
		h2 Толщина стенок
		p Сварные воздуховоды производятся из&nbsp;листового металла. Толщина стенок #[strong от&nbsp;0,8&nbsp;мм до&nbsp;5&nbsp;мм,] в&nbsp;зависимости от&nbsp;назначения и&nbsp;геометрических размеров воздуховодов.
		h2 Варианты исполнения
		table.table
			thead 
				tr 
					td Воздуховоды из черной стали
					td Воздуховоды из нержавеющей стали
					td Воздуховоды из титана
			tbody 
				mixin tr(td1,td2,td3)
					tr 
						td= td1
						td= td2
						td= td3
				+tr('Окрашенные снаружи','Без покрытия','Без покрытия')
				+tr('Окрашенные полностью','С внутренним тефлоновым покрытием','С внутренним тефлоновым покрытием')
				+tr('Шлифованные изнутри','С двойными стенками с интегрированной термоизоляцией','С двойными стенками с интегрированной термоизоляцией')
				+tr('С двойными станками с интергированной термоизоляцией	','','')
			h3 Металл и применяемые покрытия
			p Все воздуховоды изготавливаются из&nbsp;трех типов металла&nbsp;&mdash; обычная углеродистая сталь (или черная), нержавеющая сталь, титан. В&nbsp;зависимости от&nbsp;металла и&nbsp;сферы применения, воздуховоды после сборки проходят химическую обработку, очистку и&nbsp;покрываются определенным покрытием (краска, грунт, полимерное покрытие).
			h3 Типы соединений воздуховодов
			p Тип соединений воздуховодов выбирают исходя из&nbsp;технических условий проекта. Большой вес транспортируемого материала, класс плотности, периодическая очистка или быстрая замена узлов, агрессивная среда, высокая температура, удобство монтажа и&nbsp;т.д.
			p Типы соединений воздуховодов:
			ul 
				li Бандаж, с&nbsp;отбортовкой края, высота отбортовки 6 &plusmn; 1&nbsp;мм;
				li Свободные фланцы, с&nbsp;отбортовкой края, высота отбортовки 10 &divide; 20&nbsp;мм, плоские или из&nbsp;уголка;
				li Приварные фланцы, плоские или из&nbsp;уголка.
			p Все типы соединений обеспечивают удобный и&nbsp;быстрый монтаж, устойчивость системы к&nbsp;механическим и&nbsp;химическим воздействиям, класс плотности не&nbsp;ниже C, D&nbsp;и&nbsp;F (по&nbsp;европейским стандартам).
			p Заявленная плотность соединений достигается использованием уплотнителей, которые изготавливаются из&nbsp;следующих основных материалов:
			ul 
				li EPDM резина (этиленпропилен каучуковая), имеет диапазон рабочих температур от &mdash;40&ordm;С до&nbsp;+95&ordm;С, устойчива к&nbsp;маслу, бензину, некоторым слабым кислотам;
				li VMQ резина (кремнийорганическая или силиконовая), имеет диапазон рабочих температур от &mdash;100&ordm;С до&nbsp;+270&ordm;С, устойчива к&nbsp;маслу, бензину, кислотам, щелочам, истиранию;
				li FKM резина (фторкаучуковая), по&nbsp;своим свойствам аналогична силиконовой резине, но&nbsp;в&nbsp;зависимости от&nbsp;типа может выдерживать более высокую температуру, противостоять кислотам и&nbsp;щелочам;
				li PTFE ленты (тефлоновые) самоклеющиеся, имеет диапазон рабочих температур от &mdash;70&ordm;С (при необходимости от &mdash;180&ordm;С) до&nbsp;+260&ordm;С, устойчива к&nbsp;маслу, бензину, кислотам, щелочам.

	// end sCatalog

