.navMenu {
	position: relative;
	display: flex;
	justify-content: space-between;
	list-style: none;
	// @include roww(38px);
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	flex-wrap: wrap;

	&__item {
		position: relative;
		&--search {
			@include media-breakpoint-up(lg) {
				display: flex;
				align-items: center;
			}
		}
		.icon-search {
			font-size: rem(20);
			color: $white;

			@include media-breakpoint-up(lg) {
				// color: #629fda;
				color: #b0cfec;
			}
			@include media-breakpoint-up(xxl) {
				font-size: rem(22);
			}
		}
	}

	&__btn-search {
		padding: rem(3);
		@include media-breakpoint-up(lg) {
			margin-left: rem(30);
			&:hover {
				box-shadow: 0 0 0 0.25rem rgba($color: #629fda, $alpha: 0.25);
			}
		}
		@include media-breakpoint-up(xl) {
			margin-left: rem(60);
		}
		@include media-breakpoint-up(xxl) {
			margin-left: rem(70);
		}
		span {
			@include media-breakpoint-up(lg) {
				display: none;
			}
		}
	}

	&__link {
		display: block;
		text-align: center;
		padding: 0 rem(10);
		font-weight: bold;
		line-height: (62 / 16);
		text-transform: uppercase;
		text-decoration: none;
		color: $indigo;
		@include media-breakpoint-up(xl) {
			padding: 0 rem(20);
		}
		&:hover, &:active {
			color: $danger;
		}
	}

		@include media-breakpoint-up(lg){

			&__item--has-children{
				&::before{
					content: '';
					@include a-cent1(x);
					@include triangle(26px 14px, #fff, down);
					top: 100%;
					z-index: 5;
					@include mt;
					transform-origin: 0 0;
					transform: scaleY(var(--op, 0));
					opacity: var(--op, 0);
					visibility: var(--vis, hidden);
				}
				
			}
		}
	&__item:hover{
		--op:1; 
		--vis: visible;
	}
	.sub-menu{
		@include mt;
		display: block;
		@include media-breakpoint-down(lg) {
			padding-top: 0;
		}
		@include media-breakpoint-up(lg) {

			position: absolute;
			transform-origin: 0 0;
			transform: scaleY(var(--op, 0));
			opacity: var(--op,0);
			visibility: var(--vis, hidden);
			padding-top: rem(15);
			padding-bottom: rem(15);
		}
		list-style: none;
		a{
			display: block;
			padding: rem(10) rem(30);
			min-width: rem(320px);
			color: #629fda;
			color: #b0cfec;
			text-decoration: none !important;
			&:hover{
				background-color: #fff;
				color: $primary;
			}
		}
		background-color: $primary;
	}
}
